<body>
  <h1>Same Thread Example</h1>
  <div style="width:49%; float:left">
    <div id="sandbox" style="border: 2px solid #777; background: #DDD; padding: 0 1em">
      <h2 id="title" align="center">Hello <b>World</b>!</h2>
      <!-- This is a comment :-) -->
      <p id="info" style="color: red">
        <i>This</i> <u>is</u> a <test>test</test>.
      </p>
    </div>
  </div>
  <textarea id="code" style="width:49%; height:600px; float:right">
    console.log('Initialized!')
    console.log('All nodes:', farWin.farNodes)
    console.log('Body:', farWin.document.body)
    console.log('Body childNodes:', farWin.document.body.childNodes)
    console.log('Body children:', farWin.document.body.children)

    const infoEl = farWin.document.getElementById('info')
    console.log('The <p> tag:', infoEl)
    console.log('The initial <p> color:', infoEl.style.color)

    infoEl.style.color = 'blue'
    infoEl.style.letterSpacing = '5px'

    const word = farWin.document.querySelector('#info u')
    console.log('"#info u" selects:', word)
    word.textContent = 'was'
  </textarea>
  <script type="module">
    import FarWindow, { DOMConnectorSameThread } from '../../dist/client.full-bundle.mjs'
    import Sandbox, { ClientConnectorSameThread } from '../../dist/dom-srv.full-bundle.mjs'

    const clientToSrv = new DOMConnectorSameThread()
    const srvToClient = new ClientConnectorSameThread()
    clientToSrv.srvConn = srvToClient
    srvToClient.clientConn = clientToSrv

    srvToClient.addEventListener('connected', ev => console.log('Server to Client Ok!'))
    clientToSrv.addEventListener('connected', ev => console.log('Client to Server Ok!'))

    const farWin = new FarWindow(clientToSrv)
    const sandbox = new Sandbox(document.getElementById('sandbox'), srvToClient)

    farWin.addEventListener('initialized', ()=> {
      eval(document.getElementById('code').value)
    })

  </script>
</body>
